:root {
    --max-width: 1000px;

    --primary-color: #FD6E0A;
    --primary-bg: #FFF8F3;

    --text-primary: #181818;
    --text-secondary: #474747;
    --text-muted: #757575;

    --border-clr: #D1D1D1;
}

/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: var(--text-primary);
    /* border: 1px solid blue; */


}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

p {
    line-height: 1.8rem;
    color: var(--text-muted);
}

a {
    cursor: pointer;
}

section {
    height: 840px;
    min-height: fit-content;
}

button {
    padding: 1rem 2rem;
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;

    display: flex;
    place-items: center;
    gap: .5rem;

    svg.lucide {
        width: 1.2rem;
        aspect-ratio: 1;
        stroke: white;
    }

}

.primary-button {
    background-color: var(--primary-color);
    color: white;
}

.outline-button {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    svg.lucide {
        stroke: var(--primary-color);
    }

}

.container {
    max-width: var(--max-width);
    width: 100%;
    height: 100%;
    display: grid;
    place-self: center;
}

.title {
    font-size: 2rem;
    text-align: center;
}

.subtitle {
    text-align: center;
    margin-block: 2rem;
    max-width: 50rem;
    place-self: center;
}


body {
    position: relative;
    margin: auto;
    max-width: 1600px;
}

/* Navigation bar design */
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;

    max-width: var(--max-width);
    width: 100%;
    margin: auto;
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;


    .logo {
        h1 {
            font-size: 2.5rem;
            font-weight: 800;
        }

        .logo-span {
            color: var(--primary-color);
        }
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        li {
            list-style: none;

            a {
                padding: .5rem 1rem;
                border-radius: .25rem;
                text-decoration: none;
                color: var(--text-secondary);
            }

        }

    }
}


/* Designing hero section */
.hero-section {
    padding-top: 5rem;
    background-color: var(--primary-bg);


    .container {
        position: relative;
        grid-template-columns: repeat(2, 1fr);

        .developer-image {
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 2rem;
            transform: translateX(-150%);
            display: grid;
            place-items: center;

            img {
                height: 100%;
            }
        }

        .hero-content {
            display: grid;
            place-self: center;

            h2 {
                font-size: 2.5rem;
                font-weight: 600;

            }

            .hero-content__title {
                font-size: 4.7rem;
            }

            .subtitle {
                text-align: left;
            }

            .hero-content__buttons {
                display: flex;
                gap: 1rem;
            }
        }
    }

    .hero-images {
        position: relative;

        img {
            position: absolute;
            bottom: 0;
            right: 0;

        }

        .hardy-background {
            width: 800px;
        }

        .hardy {
            width: 600px;
            height: auto;

        }
    }

}

.about-section {
    display: grid;

    .container {
        height: 550px;
        border-radius: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background-color: var(--primary-bg);

        .subtitle {
            margin-inline: 13%;
        }

        .about-section_contacts {
            display: grid;
            grid-auto-flow: column;
            gap: 2rem;

            div {
                place-items: center;

                h4 {
                    color: var(--text-secondary);
                }
            }
        }
    }
}

.skills-section {
    height: fit-content;
    margin-bottom: 7rem;

    .container.cards-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;


        .card {
            background: #fff;
            display: grid;
            grid-template-rows: auto auto 1fr;
            gap: 1.5rem;
            max-height: 23rem;
            padding: 1.5rem;
            border-radius: .3rem;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);

            .card__logo img {
                width: 2.5rem;
            }

            .card__title {
                font-size: 1.1rem;
            }

            .card__description {
                font-size: .92rem;
                color: var(--text-muted);
            }

        }
    }
}

.resume-section {

    .container {
        height: fit-content;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-block: 6rem 2rem;


        .resume__grid {
            display: grid;
            height: fit-content;

            .resume__title {
                margin-bottom: 1rem;
                color: var(--text-secondary);
            }

            .qualification-card {
                display: grid;
                gap: .5rem;
                padding: 2rem 0;
                height: fit-content;

                &:not(:last-child) {
                    border-bottom: 1px solid var(--border-clr);
                }

                .card__title {
                    color: var(--text-secondary);
                }

                .card__subtitle {
                    color: var(--text-muted);
                    font-weight: 600;
                    margin-bottom: .5rem;
                }

                .card__description {
                    color: var(--text-muted);
                    line-height: 1.5rem;
                }

                .card__description {
                    font-size: .9rem;
                }
            }
        }
    }

    .primary-button {
        place-self: center;
    }
}